input[type="radio"] {
  accent-color: #7490d8;
  width: 1em;
  height: 1em;
}
#cambiodecss {
    display: flex;
    flex-wrap: wrap;
    min-width: 0px;
    font-size: 1.5em;
    gap: 0.5em;
}
a[href^="https://wa.me"] {
  color: #25d366;
}

a[href^="https://wa.me"] + a[href^="https://wa.me"] {
  margin-left: 3px;
}

a[href^="https://wa.me"]:after {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="%2300db40" viewBox="0 0 16.3 16.3"> <path d="M8.043 0C3.61 0 0 3.603 0 8.036q-.012 2.056 1.045 3.974L-.119 16.27l4.354-1.14q1.704.931 3.8.957A1 1 0 008.043 0ZM8.035 1.577a1 1 0 010 12.919q-1.994-.028-3.562-1.06l-2.343.609.625-2.288q-1.142-1.37-1.18-3.72a6.46 6.46 0 016.46-6.46ZM10.22 9.081c.182.064 1.148.539 1.346.641.198.103.333.15.38.23.048.08.048.475-.119.934s-.95.879-1.33.934c-.34.048-.768.072-1.242-.079A12 12 0 018.13 11.329c-1.979-.854-3.27-2.842-3.364-2.976-.103-.143-.8-1.069-.8-2.035s.507-1.448.689-1.646a.72.72 0 01.522-.246h.38c.12 0 .285-.047.444.34.166.396.562 1.362.61 1.465a.38.38 0 01.015.349c-.063.134-.095.213-.198.324a8 8 0 01-.293.348c-.095.095-.198.206-.087.404.119.198.507.84 1.093 1.362.752.673 1.385.879 1.583.974s.309.079.428-.048c.118-.135.49-.578.625-.776s.261-.166.443-.095"></path></svg>');
  content: '';
  font-size: 70%;
  margin-inline: 3px;
  vertical-align: top;
  width: 1em;
  height: 1.05em;
  display: inline-block;
  background-repeat: no-repeat;
}
th {
    white-space: nowrap;
}
input[type="radio"], input[type="button"], form[name="Cambiodecss"] label, input[type="submit"] {
    cursor: pointer;
}
div.colorselector {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto;
    width: fit-content;
    height: min-content;
    align-items: center;
}
.colorcontainer {
    display: grid;
    grid-template-areas: "c1r1 c2r1"
        "c1r2 c2r2";
    width: min-content;
    height: min-content;
    border: 1px solid;
}
div.tablecolor {
    width: 0.5em;
    height: 0.5em;
}
h1 {
    font-size: 1.8rem;
}
html {
    width: fit-content;
}
table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1.2em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table tbody tr td div, table thead tr th div {
    text-align: center;
}
table tbody tr td div p {
 margin: 0;
}
table.VerdeBN {
    border: 3px solid #009879;
}

table.VerdeBN thead tr {
    background-color: #009879;
    color: #ffffff;
}

table.VerdeBN tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
    font-weight: bold;
    color: #009879;
}

table.VerdeBN tbody tr:nth-of-type(odd) {
    background-color: #3f3f3f;
    font-weight: bold;
    color: #009879;
}

table.VerdeBN tbody tr:nth-of-type(even) td {
    border: 1px solid red;
}

table.VerdeBN tbody tr:nth-of-type(odd) td {
    border: 1px solid blue;
}

table.VerdeBN th, table.VerdeBN td, table.StarFinder th, table.StarFinder td {
    padding: 7px 7px;
}

table.StarFinder thead tr {
    background-color: #001839;
    color: #ffffff;
}

table.StarFinder tbody tr {
    border-bottom: 1px solid #dddddd;
}

table.StarFinder tbody tr:nth-of-type(even) {
    background-color: #fefefe;
    font-weight: bold;
    color: black;
}
table.StarFinder tbody tr:nth-of-type(odd)  {
    background-color: #b5d8e9;
    font-weight: bold;
    color: black;
}
table.StarFinder tbody tr td {
    border: solid black;
    border-width: 0px 1px;
}

table.avon1 thead tr{
    background-color: #602788;
    color: #ffffff;
}

table.avon1 thead tr th {
    border: solid black;
    border-width: 3px 2px;
}

table.avon1 th, table.avon1 td, table.avon2 th, table.avon2 td {
    padding: 5px 5px;
}

table.avon1 tbody tr {
    border-bottom: 2px solid #000000;
}

table.avon1 tbody tr:nth-of-type(even) {
    background-color: #f3c6fd;
    font-weight: bold;
    color: black;
}



table.avon1 tbody tr:nth-of-type(odd)  {
    background-color: #b3cbec;
    font-weight: bold;
    color: black;
}

table.avon1 tbody tr td {
    border: solid black;
    border-width: 0px 2px;

}

table.avon2 thead tr {
    background-color: #602788;
    color: #ffffff;
}

table.avon2 thead tr th {
    border: solid black;
    border-width: 3px 2px;
}

table.avon2 tbody tr {
    border-bottom: 2px solid #000000;
}

table.avon2 tbody tr:nth-of-type(even) {
    background-color: #b98fe2;
    font-weight: bold;
    color: black;
}

table.avon2 tbody tr:nth-of-type(odd)  {
    background-color: #7490d8;
    font-weight: bold;
    color: black;
}

table.avon2 tbody tr td {
    border: solid black;
    border-width: 0px 2px;
}

html, select, option, textarea {
    font-size: clamp(12px, 1.171303vw, 40px);
    background: #1c1d22;
    color: white;
    color-scheme: dark;
font-family: Segoe UI,BlinkMacSystemFont,-apple-system,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif;

}

.encontrado {
background-color: #1c1d22;
color: #f0feff;
}

.SinTelefonos .Telefono {
  display: none;
}

.SinCiudades .Ciudad {
  display: none;
}

#busqueda #zona {
margin-top: 12px;
font-size: 1em;
min-width: 5em;
width: auto;
max-width: 50vw;
touch-action: none;
}

#busqueda.sticky {
Background: #1c1d22;
font-family: monospace;
position: sticky;
top: 0px;
}

#busqueda.Transparente, #busqueda.Transparente input {
Background: #1c1d2200;
Color: #f0feff00;
position: sticky;
top: 0px;
border-color: #5d5e6600;
outline: none;
}

input, #busqueda.Transparente input#notransparente {
Background: #303040;
Color: #f0feff;
border-color: #5d5e66;
font-size: 0.75em;
}

#busqueda{
padding: 1px 8px 4px 1px;
font-size: clamp(15px, 1.5em, 200px);
}
#LabelBuscar {
font-size: 1.25em;
}
#busqueda pre#tecsto {
    margin: 0.1em 0px 0.1em 0.1em;
    white-space: pre-line;
    max-width: 70vw;
}
form {
min-width: max-content;
}

form:not(#busqueda) {
margin-bottom: 8px;
}
@media (orientation:portrait) {
	html, select, option, textarea {
	  font-size: clamp(12px, 5vw, 40px);
	}
	#busqueda pre#tecsto {
	    max-width: 125vw;
	}
	table {
	  font-size: 0.9em;
	}
}
/*colores para probar 249 por 492

#busqueda pre {
background-color: brown;
}

#busqueda.sticky {
background-color: #3c56db!important;
}

*/
