input[type="radio"] {
  accent-color: #7490d8;
  width: 1em;
  height: 1em;
}
#cambiodecss {
    display: flex;
    flex-wrap: wrap;
    min-width: 0px;
    font-size: 1.5em;
}
th {
    white-space: nowrap;
}
input[type="radio"], input[type="button"], form[name="Cambiodecss"] label, input[type="submit"] {
    cursor: pointer;
}
div.colorselector {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto;
    width: fit-content;
    height: min-content;
    align-items: center;
}
.colorcontainer {
    display: grid;
    grid-template-areas: "c1r1 c2r1"
        "c1r2 c2r2";
    width: min-content;
    height: min-content;
    border: 1px solid;
}
div.tablecolor {
    width: 0.5em;
    height: 0.5em;
}
h1 {
    font-size: 1.8rem;
}
html {
    width: fit-content;
}
table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1.2em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table tbody tr td div, table thead tr th div {
    text-align: center;
}

table.VerdeBN {
    border: 3px solid #009879;
}

table.VerdeBN thead tr {
    background-color: #009879;
    color: #ffffff;
}

table.VerdeBN tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
    font-weight: bold;
    color: #009879;
}

table.VerdeBN tbody tr:nth-of-type(odd) {
    background-color: #3f3f3f;
    font-weight: bold;
    color: #009879;
}

table.VerdeBN tbody tr:nth-of-type(even) td {
    border: 1px solid red;
}

table.VerdeBN tbody tr:nth-of-type(odd) td {
    border: 1px solid blue;
}

table.VerdeBN th, table.VerdeBN td, table.StarFinder th, table.StarFinder td {
    padding: 7px 7px;
}

table.StarFinder thead tr {
    background-color: #001839;
    color: #ffffff;
}

table.StarFinder tbody tr {
    border-bottom: 1px solid #dddddd;
}

table.StarFinder tbody tr:nth-of-type(even) {
    background-color: #fefefe;
    font-weight: bold;
    color: black;
}
table.StarFinder tbody tr:nth-of-type(odd)  {
    background-color: #b5d8e9;
    font-weight: bold;
    color: black;
}
table.StarFinder tbody tr td {
    border: solid black;
    border-width: 0px 1px;
}

table.avon1 thead tr{
    background-color: #602788;
    color: #ffffff;
}

table.avon1 thead tr th {
    border: solid black;
    border-width: 3px 2px;
}

table.avon1 th, table.avon1 td, table.avon2 th, table.avon2 td {
    padding: 5px 5px;
}

table.avon1 tbody tr {
    border-bottom: 2px solid #000000;
}

table.avon1 tbody tr:nth-of-type(even) {
    background-color: #f3c6fd;
    font-weight: bold;
    color: black;
}



table.avon1 tbody tr:nth-of-type(odd)  {
    background-color: #b3cbec;
    font-weight: bold;
    color: black;
}

table.avon1 tbody tr td {
    border: solid black;
    border-width: 0px 2px;

}

table.avon2 thead tr {
    background-color: #602788;
    color: #ffffff;
}

table.avon2 thead tr th {
    border: solid black;
    border-width: 3px 2px;
}

table.avon2 tbody tr {
    border-bottom: 2px solid #000000;
}

table.avon2 tbody tr:nth-of-type(even) {
    background-color: #b98fe2;
    font-weight: bold;
    color: black;
}

table.avon2 tbody tr:nth-of-type(odd)  {
    background-color: #7490d8;
    font-weight: bold;
    color: black;
}

table.avon2 tbody tr td {
    border: solid black;
    border-width: 0px 2px;
}

html, select, option, textarea {
    font-size: clamp(12px, 1.171303vw, 40px);
    background: #1c1d22;
    color: white;
font-family: Segoe UI,BlinkMacSystemFont,-apple-system,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif;

}

.encontrado {
background-color: #1c1d22;
color: #f0feff;
}

#busqueda #zona {
margin-top: 12px;
font-size: 1em;
min-width: 5em;
width: auto;
max-width: 50vw;
}

#busqueda.sticky {
Background: #1c1d22;
font-family: monospace;
position: sticky;
top: 0px;
}

#busqueda.Transparente, #busqueda.Transparente input {
Background: #1c1d2200;
Color: #f0feff00;
position: sticky;
top: 0px;
border-color: #5d5e6600;
outline: none;
}

input, #busqueda.Transparente input#notransparente {
Background: #303040;
Color: #f0feff;
border-color: #5d5e66;
font-size: 0.75em;
}

#busqueda{
padding: 1px 8px 4px 1px;
font-size: clamp(15px, 1.5em, 200px);
}
#LabelBuscar {
font-size: 1.25em;
}
#busqueda pre#tecsto {
    margin: 0.1em 0px 0.1em 0.1em;
    white-space: pre-line;
    max-width: 70vw;
}
form {
min-width: max-content;
}

form:not(#busqueda) {
margin-bottom: 8px;
}
@media (orientation:portrait) {
	html, select, option, textarea {
	  font-size: clamp(12px, 5vw, 40px);
	}
	#busqueda pre#tecsto {
	    max-width: 100vw;
	}
	table {
	  font-size: 0.9em;
	}
}
/*colores para probar 249 por 492

#busqueda pre {
background-color: brown;
}

#busqueda.sticky {
background-color: #3c56db!important;
}

*/
